@import "../../assets/styles/variables.scss";

.panel {
	margin-right: 5px;
	color: $white;
	height: 100vh;
	position: relative;
	transition: left 0.5s ease-in-out;
	left: 0;
	flex-basis: 200px;
	flex-grow: 0;
	flex-shrink: 0;
	opacity: 1;

	.collapse-btn {
		width: 40px;
		position: absolute;
		top: 30px;
		right: -267px;
		font-size: 20px;
		border: none;
		background-color: $oxford-blue;
		color: $white;
		cursor: pointer;
	}

	aside {
		background-color: $oxford-blue;
		min-height: 100%;
		height: 100vh;
		width: 230px;
		padding: 10px 20px;
		margin-right: 20px;
	}
	&.collapsed {
		left: -40px;
	}

	.photo-box-container {
		margin-left: -30px;
		margin-top: -70px;
		margin-bottom: 10px;

		img {
			width: 50%;
			height: 50%;
		}

		h1 {
			font-size: 24px;
		}
	}
}

.photo-box-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding-bottom: 30px;
}

@media (max-width: 768px) {
	.panel.collapsed {
		left: -0px;
	}
}

@media (max-width: 400px) {
	.panel .photo-box img {
		width: 50px;
		height: 50px;
		margin-left: -22px;
	}
	.panel .photo-box h1 {
		display: none;
	}

	.panel .button a button {
		width: 30px;
		height: 30px;

		&:hover {
			background-color: $shamrock;
		}
	}

	.panel .button button p {
		display: none;
	}
	.panel.collapsed {
		left: 0px;
	}

	.panel aside {
		width: 60px;
		padding: 5px;

		h1 {
			display: none;
		}

		.photo-box-container img {
			width: 50px;
			height: 50px;
			align-self: self-start;
			margin-left: 29px;
		}
	}

	.panel .collapse-btn {
		right: -100px;
	}
}
