@import "../../assets/styles/variables.scss";

.inner-page {
	display: flex;
	transition: margin-left 0.5s ease-in-out;

	aside {
		height: 100vh;
		position: fixed;
	}

	&.collapsed {
		margin-left: -190px;
	}
}

.cv-details {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-left: 270px;
	padding-right: 20px;

	div {
		margin-bottom: 10px;
	}

	section {
		margin-bottom: 40px;
	}
}

.scroll-up-button {
	position: fixed;
	bottom: -40px;
	right: 20px;

	button {
		width: 30px;
		height: 30px;
	}
}

@media (max-width: 768px) {
	.inner-page.collapsed {
		margin-left: -235px;
	}
}

@media (max-width: 400px) {
	.inner-page.collapsed {
		margin-left: -64px;
	}

	.cv-details {
		margin-left: 80px;
		overflow-x: hidden;
	}
}
