@import "../../assets/styles/variables.scss";

.photoBox {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: $white;
	margin: 0 auto;

	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 250px;
		margin-top: 70px;

		h1 {
			margin: auto;
		}
	}
	img {
		border-radius: 50%;
		border: 1px solid $white;
		width: 163px;
		height: 163px;
		margin-bottom: 10px;
	}

	h1,
	h2,
	p {
		margin-bottom: 10px;
	}

	p {
		font-size: 14px;
	}
}
