@import "../../assets/styles/variables.scss";

.button button,
.formSubmitBtn,
.scroll-up-button button {
	background-color: #222935;
	color: $white;
	font-size: 16px;
	font-family: "Open Sans", sans-serif;
	border-radius: 5px;
	width: 126px;
	height: 40px;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:hover {
		background-color: #26c17e;
	}
}

.button button p {
	margin-left: 5px;
}
