@import "../../assets/styles/variables.scss";

.info-container {
	background-color: #eeeeee;
	padding: 15px;
	color: $oxford-blue;
	font-size: 14px;
	margin: 20px;

	p {
		line-height: 20px;
		letter-spacing: 0.4px;
	}
}
