@import "../../assets/styles/variables.scss";

.portfolio {
	display: grid;
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 20px;
	overflow-x: auto;
	max-width: 968px;
	margin: 0 auto;
	scrollbar-width: thin;
	scrollbar-color: transparent;
	padding: 20px 0;
	transition: transform 0.3s ease-in-out;

	.portfolio-item {
		position: relative;
		flex: 0 0 308px;
		border: 1px solid #ccc;
		padding: 20px;
		width: 308px;
		background-repeat: no-repeat;
		background-size: cover;
		transition: transform 0.3s ease-in-out;
		height: 300px;

		h1 {
			margin: 0;
			margin-bottom: 7px;
			color: $shamrock;
		}

		.image {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
		}

		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			flex-direction: column;
			padding: 20px;
			justify-content: center;
			background: #ffffffde;
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
		}

		&:hover .overlay {
			opacity: 1;
		}
	}

	.image {
		display: block;
	}

	a {
		text-decoration: underline;
		color: $shamrock;
	}

	p {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 768px) {
	.portfolio {
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 40px;
		overflow: hidden;
	}
}

@media screen and (max-width: 400px) {
	.portfolio,
	.overlay {
		width: 270px;
	}

	.portfolio-item p {
		padding-right: 20px;
	}
}
