@import "../../assets/styles/variables.scss";

.tabs {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	margin-bottom: 20px;

	.tabs-item {
		cursor: pointer;

		&:not(:last-child) {
			margin-right: 10px;
		}

		&.active {
			color: $shamrock;
		}
	}
}
