@import "../../assets/styles/variables.scss";

.company,
.position {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	color: $oxford-blue;
}

.experience--data {
	display: flex;
	align-items: flex-start;
}

.position {
	margin-left: 20px;

	p {
		font-size: 14px;
		margin-top: 10px;
	}
}

.company {
	min-width: 82px;
	p {
		color: $raven;
		margin-top: 10px;
	}
}
