@import "../../assets/styles/variables.scss";

.address-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-between;
	width: 326px;
	height: 300px;

	.contact-info {
		display: flex;
		align-items: center;

		h4,
		a {
			color: $oxford-blue;
			font-weight: bold;
		}

		.icon,
		#facebook {
			font-size: 24px;
			color: $shamrock;
		}

		p {
			color: $raven;
		}

		div {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			margin-left: 20px;
		}
	}
}
