@import "../../assets/styles/variables.scss";

.home-page {
	height: 100vh;
	width: 100vw;
	background-image: url("../../assets/images/background.png");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;

	button,
	.photo-box {
		margin: 0 auto;
	}
}
