@import "../../assets/styles/variables.scss";

.navigation {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding-bottom: 30px;
	a {
		display: flex;
		align-items: flex-start;
		margin-bottom: 30px;
		color: $raven;
		padding-left: 10px;
		cursor: pointer;
		p {
			margin-left: 30px;
		}
		&:hover {
			color: $shamrock;
		}
	}
	a.active,
	&:focus {
		color: $shamrock;
	}

	.button {
		position: absolute;
		bottom: 10px;
	}
}

@media (max-width: 400px) {
	.navigation a p {
		display: none;
	}
}
