@import "../../assets/styles/variables.scss";

.timeline-container {
	overflow-y: auto;
	max-height: 80vh;
}

.timeline {
	display: flex;
	align-items: flex-start;
	margin-bottom: 15px;
	width: 100%;

	img {
		position: absolute;
		top: 19px;
		left: -10px;
	}

	.date {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 15px;
		margin-right: 20px;
		padding-right: 15px;

		.date-decorator {
			border-left: 5px solid $shamrock;
			height: 100px;
			margin-top: 7px;
		}
	}
}

.loading,
.error-message {
	width: 80vw;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.error-message {
	color: red;
}

.icon {
	color: $shamrock;
	margin: 0 auto;
}

.timeline--text {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #eeeeee;
	position: relative;
	padding: 15px;
	width: 92%;

	div {
		display: flex;
	}

	h3 {
		margin-bottom: 10px;
	}
}

@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.spinner {
	animation: spin 2s linear infinite;
}
