@import "../../assets/styles/variables.scss";

.feedback-container {
	display: flex;
	flex-direction: column;
	// max-width: 960px;
	align-items: flex-start;
	justify-content: center;
	margin-bottom: 20px;

	.feedback--reporter {
		display: flex;
		// min-width: 308px;
		align-items: center;
		justify-content: flex-start;

		img {
			width: 50px;
			height: 50px;
			border-radius: 50%;
			margin: 0 20px;
		}

		p {
			color: $oxford-blue;
			a {
				margin-left: 20px;
				color: $shamrock;
				text-decoration: none;
			}
		}
	}
}
