@import "../../../../assets/styles/variables.scss";

.proficiency-line {
	display: flex;
	justify-content: space-between;
	border-top: 1px solid $raven;
	padding-top: 10px;
	margin-top: 20px;
	margin-top: 30px;
}

.level {
	color: $raven;
}

.beginner {
	width: 20%;
}

.proficient {
	width: 40%;
}

.expert {
	width: 40%;
}

.master {
	width: 20%;
}

.line {
	height: 12px;
	width: 1px;
	background-color: $raven;
	transform: translateY(-23px);
}

@media (max-width: 768px) {
	.proficiency-line {
		width: 55vw;
	}

	.level {
		font-size: 12px;
	}
}
