.skills-list {
	width: 70vw;
	margin-top: 40px;
}

#spinner {
	margin-left: 50% !important;
}

.bar {
	min-width: max-content;
	background-color: #26c17e;
	height: 29px;
	padding: 5px 10px;
	color: white;
	letter-spacing: 0.7px;
}

.skill-name {
	text-transform: uppercase;
}

@media (max-width: 768px) {
	.skills-list {
		width: 55vw;
	}
}
