@import "../../../../assets/styles/variables.scss";

.skills-container {
	width: 70vw;
	position: relative;

	.toggle-btn {
		position: absolute;
		right: 0;
		top: -100px;
	}
}

.form-container {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border: 1px solid $shamrock;
	border-radius: 5px;
	padding: 20px;
	width: 70vw;

	div:not(:last-child) {
		display: flex;
		align-items: center;
		padding-bottom: 20px;
	}

	input {
		border-radius: 5px;
		padding: 10px;
		border: 1px solid $raven;
		margin-left: 10px;
		outline: none;
		color: $raven;
	}

	.error {
		color: red;
		margin-top: -15px;
	}

	.has-error {
		border: 1px solid red;
	}

	.formSubmitBtn.disabled {
		opacity: 0.5;
		background-color: $raven;
	}

	.formSubmitBtn:disabled:hover {
		cursor: not-allowed;
	}
}

.proficiency-levels {
	width: 70vw;
}

@media (max-width: 768px) {
	.form-container,
	.skills-container,
	.proficiency-levels {
		width: 55vw;
	}

	body {
		overflow-x: hidden;
	}
}

@media (max-width: 400px) {
	.form-container input {
		width: 120px;
	}
}
